<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @session.new %>
</p>

<p>
  <strong>Omniauth:</strong>
  <%= @session.omniauth %>
</p>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
